{
  baseURL = "/repository" ;
  database = {
    adaptor = "MSSQLCipherAdaptor" ;
    path = "messages.sqlitedb";
    key = "DitXZjDynpPTAfogi3Y4" ;
  };
  servers= (
    {
      cert = "../Certs/server-repository-crt.pem";
      key = "../Certs/server-repository.pem";
      port = "8950"; 
    }
  );
}