MSFoundation.xcodeproj/project.xcworkspace/xcuserdata
MSFoundation.xcodeproj/xcuserdata
MSFoundation.xccheckout
contents.xcworkspacedata
MSDatabase.xcodeproj/project.xcworkspace/xcuserdata
MSDatabase.xcodeproj/xcuserdata
MSNet.xcodeproj/project.xcworkspace/xcuserdata
MSNet.xcodeproj/xcuserdata
MicroStep.xcworkspace/xcuserdata
3rdparty/darwin/tools
.intermediates
out
