{
	0 = {
		"urn" = {
			"type" = "STR" ;
			"cardinality" = "single" ;
		};
		
		"certificate" = {
			"type" = "STR" ;
			"cardinality" = "single" ;
		};
		
		"public key" = {
			"type" = "STR" ;
			"cardinality" = "single" ;
		};
		
		"service" = {
			"type" = "ID" ;
			"cardinality" = "multi" ;
		};
		
		"people" = {
			"type" = "ID" ;
			"cardinality" = "multi" ;
		};
		
		"authorized elements" = {
			"type" = "ID" ;
			"cardinality" = "multi" ;
		};
		
		"representative eid" = {
			"type" = "ID" ;
			"cardinality" = "multi" ;
		};
		
		"repository public key" = (
			"urn",
			"public key",
			"certificate",
			"service",
			"people",
			"authorized elements"
		);
	};
	
	101 = {
		"urn" = "messenger:FR:Internet Widgits Pty Ltd:test root CA:B7107FB8FCB50D22";
		"certificate" = "-----BEGIN CERTIFICATE-----
MIIDMTCCAhkCCQC3EH+4/LUNIjANBgkqhkiG9w0BAQUFADBcMQswCQYDVQQGEwJG
UjETMBEGA1UECAwKU29tZS1TdGF0ZTEhMB8GA1UECgwYSW50ZXJuZXQgV2lkZ2l0
cyBQdHkgTHRkMRUwEwYDVQQDDAx0ZXN0IHJvb3QgQ0EwHhcNMTMxMTI1MTM0MTQ1
WhcNMTMxMjI1MTM0MTQ1WjBZMQswCQYDVQQGEwJGUjETMBEGA1UECAwKU29tZS1T
dGF0ZTEhMB8GA1UECgwYSW50ZXJuZXQgV2lkZ2l0cyBQdHkgTHRkMRIwEAYDVQQD
DAltZXNzZW5nZXIwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC+MpUQ
L7g9VKy9lxIgkQUfDKmL7ousyDO+ZtALdn+yx5y2FRCkNO5FBedoo3UAAHJvWIwb
IgSo+4Unx50QBK6w6+K/rfom0PjigbnbJRGO3LJJiV05mEaNI5oifnPreCrooJtz
vYuRypeG9ELdfXY8TLYYJHzYSez7/kZfr/zqhTHe6LQut6/m47IOt8jgenYp9fUN
wvGkyv6PL8MRWPZQayoAOPW8g6IyfW6axyV1oN9zdXGdL5TYtE0yYi7nPYXEIJk0
pJFH7OAK2khbSJKJcpFETAminPMP2vZl7UYE55U0sP2ORWZZ/byt6sPgUa8BKhkp
RCEMfXZ/rxArDgPHAgMBAAEwDQYJKoZIhvcNAQEFBQADggEBAHEW1Z/gJ+j/BX6+
M68glkaGs9F6OheJZOPAg88sCXSzF1DRGzaTB0J3dinuMT40TzMiFfIt2YQepESU
7QqoSfUlNRn5kHrHglFiD0aoGTYTPcgmHp3xraUQXEZVGsvwYl1TJQOOhuAaWoum
uyGRU1zSRe5iYF8JExp2PDzKHGXq30UWtUjYU7DcyRtXRz1YWRQUnyC7JN4zIoZ2
dhDMhacbP8WucUapHSB/KtrYJcbZx0wiF2DxG/7yB82eq4hc9drL5r6mFjef8FJ2
2X5Twkro+zkRYU32HlEThvCz7AjP2l1nw7fbkBpWOotmHEu+tnbiXHlZgbUENG9o
gOeyqlg=
-----END CERTIFICATE-----
		";
		"authorized elements" = (
			103, //cert test 1, 2, 3
			104,
			106,
			201, //agent 1, 2, 3, 4
			202,
			203,
			204,
			301 //LSMobile
		);
	};
	
	103 = {
		"urn" = "test1:FR:Internet Widgits Pty Ltd:test root CA:C134999A4A8EA6D0";
"certificate" = "-----BEGIN CERTIFICATE-----
MIIDLTCCAhUCCQDBNJmaSo6m0DANBgkqhkiG9w0BAQUFADBcMQswCQYDVQQGEwJG
UjETMBEGA1UECAwKU29tZS1TdGF0ZTEhMB8GA1UECgwYSW50ZXJuZXQgV2lkZ2l0
cyBQdHkgTHRkMRUwEwYDVQQDDAx0ZXN0IHJvb3QgQ0EwHhcNMTMxMDI1MDcyNTQx
WhcNMjMxMDIzMDcyNTQxWjBVMQswCQYDVQQGEwJBVTETMBEGA1UECAwKU29tZS1T
dGF0ZTEhMB8GA1UECgwYSW50ZXJuZXQgV2lkZ2l0cyBQdHkgTHRkMQ4wDAYDVQQD
DAV0ZXN0MTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAPDo+vyZVu+4
EDPf9GL8137SlfPdkW1BJi3UZRO4p0dOnXlw2QkDZPyK32EPndMrRxZF21s1amEI
6IoxH45waxrI71c/3u4JGzMt/br1KScmTalPmj5ndthO2KXvwNrW6lc2lfwj44ef
zp1EmMOqazO/DGYIo/m4+d/sIl0ZIACtH09WV+R+MkuN0bvpCfJ10cGQMQ3SjpIY
RK58HS/8xRhL4LtAoJtoNwB3LEUqjSm5xnAbM+K9Pj16JqDsgc1TOIZG+7ezg8Qn
vrs3bhZ6RVW2ap5dWQCVmajabIMe6Y3Bbnz33tDtLi4wUnJusnvfVBx65ooWpAOn
Oej/3uLvUf8CAwEAATANBgkqhkiG9w0BAQUFAAOCAQEAdGfm+rcPdd+My7ViFNVz
LMAFYfjAKO/Z46rmC5E3mLIebqwaTW4fg/PxQU7GX7qJPgNeKZKkRL0aNHOSHbQh
WPoMrCiIpupVCOgASzNbjHtwP5s366XJZDFQOWQUaSKwhV+O7HVKCJRWAng/SzV9
KcJBOpPXirXkVj9eBn1GC1vDimXaJZQMukHiH+iXyb4cuo3UdIl4DT05drS4z2Hv
Q8wUqWFXI4yFOtY9NNfLJTR4gDv9EHUepAwE3RBgLqH8A+JHd7nRv8ZpjNzL/Vsw
vTFcQT6Sf8YxgEDHnjnWSXfEndJ10jgkh7NsyssNNifXuZsYNKoUvt2NDV4Tex0a
Yg==
-----END CERTIFICATE-----";
	};
	
	104 = {
		"urn" = "test2:FR:Internet Widgits Pty Ltd:test root CA:C134999A4A8EA6D1";
		"certificate" = "-----BEGIN CERTIFICATE-----
MIIDLTCCAhUCCQDBNJmaSo6m0TANBgkqhkiG9w0BAQUFADBcMQswCQYDVQQGEwJG
UjETMBEGA1UECAwKU29tZS1TdGF0ZTEhMB8GA1UECgwYSW50ZXJuZXQgV2lkZ2l0
cyBQdHkgTHRkMRUwEwYDVQQDDAx0ZXN0IHJvb3QgQ0EwHhcNMTMxMDI1MDcyNjAz
WhcNMjMxMDIzMDcyNjAzWjBVMQswCQYDVQQGEwJBVTETMBEGA1UECAwKU29tZS1T
dGF0ZTEhMB8GA1UECgwYSW50ZXJuZXQgV2lkZ2l0cyBQdHkgTHRkMQ4wDAYDVQQD
DAV0ZXN0MjCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAMM+UmQIL3MC
lxrH8VtLGvc0uJFBCNPMcxqCdS2VkT26kUWJF8U84emUlsfI0K7fn1IOQazB0lUF
/yiCpQLTyxMjjytZguEqHsV9+86VhqXy+CEwPDWRFta/KSGycxJr930JdbiO7EM0
f8Fw+o/Ss+uTUDiKuK2ExVVjrRXRfLugpMlLgG77PxS7bn5JY6Jb84RdCT1+339G
DYzw0MydPdSwjPK1N/k2YBqeQk8WvKvPN9tX6KiWaQ9Q/1apKGhZ4xCWj9SWYc8v
dR7Fxd0LeqNIOGgC+sle9sIvMMYq0HJuvhCjEoUbg7UEfhULzpcyNzXPRLYt+l5E
Dui54fMU/MMCAwEAATANBgkqhkiG9w0BAQUFAAOCAQEAi1CRWk53OfJjIi7HepzK
XfLIxq4aIBlYdQQV+O25CKDDSCd/AL5mlf75aCRw7e/FZQWzLLwugWa9ifqhnlN+
oNPI5Ys56q4fnzOf4HqlJAUjYQ+muOc3jKPmRCNcSJFu9UGji61r86qn0hPgwE+7
ZmJCQxr/gqY0Rd3yZCvb+CxQJwA9Z4VSA8xDXyxHzvHb86V0sAK/6jOLBhOxz0Nh
C1whyeIJF/lG5mpf7wtio/CSuU/K13aqAr3be3F2is9SPucbVC9MMHz+f0aeFjQg
hCmsONNxyV47Mg6xyfAXs+sxMVRHuJI3T5oT4TdsrCoi1XYvYFBNd5+aXPzS4KDU
8Q==
-----END CERTIFICATE-----";
	};
	
	105 = {
		"urn" = "test3:FR:Internet Widgits Pty Ltd:test root CA:C134999A4A8EA6D2";
		"certificate" = "-----BEGIN CERTIFICATE-----
MIIDLTCCAhUCCQDBNJmaSo6m0jANBgkqhkiG9w0BAQUFADBcMQswCQYDVQQGEwJG
UjETMBEGA1UECAwKU29tZS1TdGF0ZTEhMB8GA1UECgwYSW50ZXJuZXQgV2lkZ2l0
cyBQdHkgTHRkMRUwEwYDVQQDDAx0ZXN0IHJvb3QgQ0EwHhcNMTMxMDI1MDcyNjEz
WhcNMjMxMDIzMDcyNjEzWjBVMQswCQYDVQQGEwJBVTETMBEGA1UECAwKU29tZS1T
dGF0ZTEhMB8GA1UECgwYSW50ZXJuZXQgV2lkZ2l0cyBQdHkgTHRkMQ4wDAYDVQQD
DAV0ZXN0MzCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAPhdgZ6/+V3J
uW0moYNDpWM558EbKuEOuBxvkXA1yBUb+GgTVtGl70/V3fD3wZh/Jbq+6Y0PMvGL
pxU+yA1TUyW4obBYC/s5tdAL/DNpEUsZnNFGSwxY2dmjI43jw6CnZnT1R5bveImG
0HvwBtovPkgSsetf/uPVTrCQdHNBoWUS8wBRswf6gRWtDcob5yxEV3gEEy8Hp+4S
dL7JBazVnzEVOJfYw6Zj6QkeOr7Em3nF9ryBNAtONd3mrfZEE1QIYzxrvKu79Ji1
dqkeNEKGHF6E/TYW7++g4AgWN6jMSYku6tQWiLhhd2gsgbfwhtF8/nBzpS2pzd+W
TKaCbREw+ysCAwEAATANBgkqhkiG9w0BAQUFAAOCAQEAdueuAviddvMMh8F4BTpy
a4fraIMIT4GraBKkbzb8/9QbNjIMRB4SAUHjuOGLkUfrbzvra5ezMwanUvpb8mBz
rPho2SAZ/qOStH5/pd03xc7Bmi22F94e4N7NwpA+yoRgEFdzvFWSum+Z8uWf3q42
ljy7wj6gUoJ7KVzPj7/7GpYhrKcAHWCbAAUqXtAqgA0dszoZ60JQkFRmEK4qhHUO
MAt+U2TQ2WwJXovcB9WIraRmgBciB8NtqEJM4FLccgF4j7sqiMSO1yqSLoQg4clb
qKGmmkaTf1b3kFPdt8bfWUREjUdiyVqPFYS9qDXuOA43OZ1DGjSH1Art/fWD8I0c
xg==
-----END CERTIFICATE-----";
	};
	
	106 = {
		"urn" = "test4:FR:Internet Widgits Pty Ltd:test root CA:C134999A4A8EA6D3";
		"certificate" = "-----BEGIN CERTIFICATE-----
MIIDLTCCAhUCCQDBNJmaSo6m0zANBgkqhkiG9w0BAQUFADBcMQswCQYDVQQGEwJG
UjETMBEGA1UECAwKU29tZS1TdGF0ZTEhMB8GA1UECgwYSW50ZXJuZXQgV2lkZ2l0
cyBQdHkgTHRkMRUwEwYDVQQDDAx0ZXN0IHJvb3QgQ0EwHhcNMTMxMDI1MDcyNjI0
WhcNMjMxMDIzMDcyNjI0WjBVMQswCQYDVQQGEwJBVTETMBEGA1UECAwKU29tZS1T
dGF0ZTEhMB8GA1UECgwYSW50ZXJuZXQgV2lkZ2l0cyBQdHkgTHRkMQ4wDAYDVQQD
DAV0ZXN0NDCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAOK/ZblHI3h8
dNsRcSngFLRuzvv+/RXXxl2qbjNGq6E+sni7Db+DF079b+JeDpRsy5qWYpRoJ9M8
r1VRPn3MCMdLx8k7lI9OMFs0ENOaXrQGDF1FlrdgoOZTu7DqvDrWL3165f7yG+R2
2QYUHgnK97hPS+xyIq3hkuEnUGBiQoqpBkWHrWA+Kq9kS27t4UFKA4Qv1oMg4pzj
TQ1oqjViBjUMAxwIAOuYB73PJYfVX5L0LRtSdLUwYq97AzkR85a+faco8IFwMiUn
cU1rPxrKc0eRQ65mJ7uxpaPBzuLpZGWa5UXv3FeS5G7M2ecDGQ/AcO7piNGUXka2
6Xe2rbKnpUkCAwEAATANBgkqhkiG9w0BAQUFAAOCAQEAc7xcyqmFxntiE0+u/sVP
Zfwi4WtdRelnPQmq0+jW37avvGuNQOCKdUvPajTJK6SkOd2pZB+/oOrc6uvtvUuM
QTBZW0IabKHm4csauCc6Z/uDv80Ljm9zg4B2obD/MILJwF+U1hO1l3MmUcTZYDdQ
ypsT5Wx60CnGWDZzjmcIvi6QfDYzmIf53mv07Q9Si0Qd7m53fpSTAFjLtjorwmYy
rxFo1E+IV5esi2h6Ai9S1q/Zo6UDzDCcXBpIzSZspZ4prNwswX21z9RlEn/FgP7/
/qP1jPkhscWO7nDO9IL34IGWgrhz/D8jG1DS/sCe4uTh80bPhRqJnur/YgZmPil5
vw==
-----END CERTIFICATE-----";
	};
	
	201 = {
		"urn" = "agent1";
		"public key" = "-----BEGIN RSA PUBLIC KEY-----
MIIBCgKCAQEA1owjcQxuOEdjnsl58U4g2XDARhLdBiusealWH8lX2wste2izME7M
erl0m2X3nbAMfXjztIofd7UNj65JakjbDpVKImDNEI97tRWZzdrIBZNrqZPs7LV4
rn86+8URAcAgV+V9Gm7mnaxhbptx0q7c6PB8ea8JtV2vcXeoVtBtQ38K0kwAX6uw
xatGnb+M4EHiYAtAk9yzcSReAQKtaMiwgoEyTEYfEJRcCy3y6VgJncgdk40J3j+3
pCJD5DOQF8L3MFaCFB1BD/KubfAVKcM3coHVyQGi6glmGeYHiQavmlrc31bblRaR
CipG7aHXFwgOcByrFRDlKZvg410bXJHHJwIDAQAB
-----END RSA PUBLIC KEY-----";
	};
	
	202 = {
		"urn" = "agent2";
		"public key" = "-----BEGIN RSA PUBLIC KEY-----
MIIBCgKCAQEAsqhHiw9de84x6JICDJ27YgLpr1h7+w0C9L0+4udcUQGeNhnhtbiN
dbFTgFvWsac+KGpUz+ji6cjGYHSAeeJNa2lEKAvThEVLYnIiCgpulD9JpYU4Tffo
n33YhBd2r9eEQ+pRbgdp5wWfn2rAg2ZFoS10JAo4frVecv/G4QAYSUGXnBFb6dee
+C7hmcE2aQdRLo5vpWWMlyw4PQruou25DbZkiQOEO+qR5rgEcxzcSeGtxO4RA+jW
lm3hNvSrmIV8Cp8/Y3y50pQ1StV5b7iqgcc86aLBN1n35+qPP4auChq/plL6fONg
1HNuygIqxbuW2Ghd8rOyXBXY/nUQeP/IhwIDAQAB
-----END RSA PUBLIC KEY-----";
	};
	
	203 = {
		"urn" = "agent3";
		"public key" = "-----BEGIN RSA PUBLIC KEY-----
MIIBCgKCAQEAtS81IfLe8nw0o8nUPLLvHAaGXYVaHikp/4wejzAQZSWOZwCzzJZH
Kc7frdNTsLVQWw8/jWQUYHQ9TUGMF92wLlvtSQtlWY4vOpGt5znSIA0EI4WzPGGf
6bttPtU1QM/+SehAtY/WJSrZY7UQ3FwpHgVCrNQ2yD2DBFVXFjE6hdJvILXfeuM8
ZkyApSQ8D8vA7sm5vlQ6CDah4JuSt0CXkTxiAmJPyHRFtRvN4+Y85TUOjJ8Bd4FO
7iud+rzDgu6VEzS0Hs7KM8XF+z6Q7lqa7jyKdaI1whkgK9HNcetTcB7/9OozhtgU
KuWIHB0XFq7OgjjTVujYLVRlIuTaLkkjIQIDAQAB
-----END RSA PUBLIC KEY-----";
	};
	
	204 = {
		"urn" = "1111";
		"public key" = "-----BEGIN RSA PUBLIC KEY-----
MIIBCgKCAQEA5FeM+SEH69CrYGdzFeIUEHR9GSn92eAEknbHFTsSKGu6SObDwuyx
WRYlV9w3kz/56J9kPWkHu5Qgs8Nr4No/7ddhzC4oA/m0Q5fNuwMLtabdTG/M5BNw
aQViXv9f7CG+U0zX7btY+vyhX/nJ6HLv44yNLyDmw2HoTwz3cxyRfmg2sRv8AeMD
+3I6cUkRH7OHI1Lq4SzWtVqK53v9iti3jjbJgN0jElokn3ukXstgbwv7PvFy6pO2
LGBXPpUWYJ5IdAa8D3xas3bEZZeevwt66Pi1GofAf6i6K065n5vCKIreM+rkRGrC
sEeclo82FsoAn1ZD9aFvQEmE4s3GeIwe+QIDAQAB
-----END RSA PUBLIC KEY-----
		";
	};
	
	301 = {
		"urn" = "LSMobile";
		"public key" = "LSMobile DUMMY PUBLIC KEY";
	};
}