{
	httpServer = {
		adminPort = 444; 			//optional : default 444
		adminLogin = "admin" ;      //mandatory
		adminPassword = "password" ;//mandatory
		certificate = MASHServer_example.crt ; 	//mandatory
		key = MASHServer_example.key ;	//mandatory
		logFile = MASH.log;			//mandatory
		logLevel = 4 ;				//optional : default = 4 - values : 1=Debug; 2=Info; 3=Warning; 4=Error; 5=Critical
		logStardardOutput = 1 ;		//optional : when no specified only writes logs in the log file "logFile", else also writes logs in the standard console oupout
		maxProcessingRequests = 64; //optional : default 16
		maxReadingThreads = 8;		//optional : default 4
		maxProcessingThreads = 8;	//optional : default 4
		bundlePath = "C:/MicroStep/Library/Bundles" ;           //mandatory
		//whitelist = "127.0.0.1, 192.168.4.0 - 192.168.4.255"; // optional
		//temporaryFolderPath = "C:/tmp" ; //optional default : MASH_ROOT/tmp
		//disableBlacklist = YES ;
		//disableSSLv2 = YES ;
		//disableSSLv3 = YES ;
		//disableTLSv1_0 = YES ;
		//disableTLSv1_1 = YES ;
		//disableTLSv1_2 = YES ;
		//disableDeflateCompression = NO ; //optionnal : default NO
	} ;

	sslPorts = (
		{
			listeningPort = 443 ;
			sslAuthMode = "oneWay" ;
		}
	) ;
	
	applications = (
	/*	{ 
			type = "XNet" ; 
			url = "client/groupe/planitech" ;
			name = "Planitech" ;
			listeningPorts = (443) ;
			parameters = { //optionnal
				xmonitorServer = "XXX.XXX.XXX.XXX" ;
				xmonitorPort   = 3456 ;
				applicationID  = 1 ;
				keepAliveTimeout = 180 ; //seconds
				uploadedResourcesPath = "\\\\server\\directory" ; //this directory must exist and can be an UNC shared folder (for use with web OR/AND W.O. clients) or a local directory (for use with web clients ONLY)
			} ;
        },
		{ 
            type = "XNet" ; 
			url = "client/groupe/regie" ;
			name = "Régie de recette" ;
			listeningPorts = (443) ;
			parameters = { //optionnal
				xmonitorServer = "XXX.XXX.XXX.XXX" ;
				xmonitorPort   = 3456 ;
				applicationID  = 2 ;
				keepAliveTimeout = 180 ; //seconds
			} ;
         },*/
         {
            type = "FileRepository" ;
            url = "client/groupe/filerepository" ;
            name = "FileRepository" ;
		    listeningPorts = (443) ;
            parameters = {
				rootDirectory = "C:/FileRepo";
				encoding = "B64" ; //"none" / "lossy" / "B64"
                ticketDuration = 604800; //1 semaine	
                publicLinkDuration = 604800; 
                paramsDict = "C:/MicroStep/Conf/paramsDict.config/paramsDict.config"	;	
                usersGroupsPathFile = "C:/MicroStep/Conf/usersGroups.config";	
                smtpUserName = "uneAdresse@orange.fr";
                smtpServer = "smtp.orange.fr";
				certAuthorityFile = "C:/MicroStep/Library/Executables/ca-bundle.crt";
                smtpPassword = "pwd";
                smtpPort = numPort;
                smtpSSLconnection = 1;	
                htmlFormat = 1;	
            } ;
		 }
	) ;
}
