{
    groups = ({name = groupe1; mail = "groupe1@xxx.fr"; }, {name = groupe2; mail = "groupe2@xxx.fr"; }); 
    users = (
        {
            encryptedPwd = 0; 
            groups = (groupe1); 
            isAdmin = 0; 
            name = user1; 
            pwd = user1;
            mail = "user1@xxx.fr";
        },    
        {
            encryptedPwd = 0; 
            groups = (groupe1, groupe2); 
            isAdmin = 1; 
            name = user2; 
            pwd = user2;
            mail = "user2@xxx.fr" ;
        }
    ); 
}
